<h2>Crear un nuevo dron</h2>

<form method="POST" action="/drones/create">

<div class="row g-3 align-items-center">

</div>
<label for="name" class="col-form-label">Nombre</label>
<input type="text" name="name" class="form-control">

<br>

<label for="propellers" class="col-form-label">Helices</label>
<input type="number" name="propellers" class="form-control">

<br>

<label for="maxSpeed" class="col-form-label">Velocidad maxima</label>
<input type="number" name="maxSpeed" class="form-control">

<br>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Agrega nuevo dron</button>
</div>

</form>